<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.boot.system.dao.SysUserDao">
	<sql id="BASE_TABLE">
		sys_user
	</sql>
	
	<sql id="BASE_COLUMN">
		user_id,user_name,password,dept_id,pic_id,email,mobile,status,sex,birth,city,create_time,update_time
	</sql>

	<select id="list" resultType="com.boot.system.domain.SysUserDo">
		select 
			<include refid="BASE_COLUMN"></include>
		from
			<include refid="BASE_TABLE"></include>
		<where>
			<if test="userId != null and userId !='' ">and user_id = #{userId}</if>
			<if test="userName != null and user_name !='' ">and user_name = #{userName}</if>
			<if test="password != null and password !='' ">and password = #{password}</if>
			<if test="deptId != null and deptId !='' ">and dept_id = #{deptId}</if>
			<if test="picId != null and picId !='' ">and pic_id = #{picId}</if>
			<if test="email != null and email !='' ">and email = #{email}</if>
			<if test="mobile != null and mobile !='' ">and mobile = #{mobile}</if>
			<if test="status != null and status !='' ">and status = #{status}</if>
			<if test="sex != null and sex !='' ">and sex = #{sex}</if>
			<if test="birth != null and birth !='' ">and birth = #{birth}</if>
			<if test="city != null and city !='' ">and city = #{city}</if>
			<if test="createTime != null and createTime !='' ">and create_time = #{city}</if>
			<if test="updateTime != null and updateTime !='' ">and update_time = #{city}</if>
		</where>
	</select>
</mapper>